<!DOCTYPE html>

<html lang="de">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />

		<link type="text/css" href="@Url.Content("~/css/error.min.css")" rel="stylesheet" />

		<link rel="icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />

		<title>@(ViewBag.Title)Lustiges Taschenbuch - Datenbank</title>
	</head>
	<body>
		<div class="wrapper">
			<div class="wrapper-content">
				@RenderBody()
			</div>
		</div>
	</body>
</html>
