<!DOCTYPE html>

<html lang="de">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link type="text/css" href="@Url.Content("~/static/css/error.mobile.min.css")" rel="stylesheet" />

		<link rel="icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />

		<title>@ViewBag.Title</title>
	</head>
	<body>
		<div>
			@RenderBody()
		</div>
	</body>
</html>
