@model ltbdb.Models.BookModel
@using ltbdb.Extensions
@using ltbdb.Core.Services
@inject ImageService ImageService

<li>
	<a href="@Url.RouteUrl("view", new { id = Model.Id, slug = UrlHelper.ToSlug(100, "Nr.", Model.Number.ToString(), Model.Title) })">
		<div>
			<img src="@ImageService.GetCDNPath(Model.Filename, ImageType.PreferThumbnail)" alt="" />
		</div>
		<span>Nr. @Model.Number - @Model.Title</span>
	</a>
</li>