@model ltbdb.Models.BookModel
@using ltbdb.Extensions
@using ltbdb.Core.Services
@inject ImageService ImageService

<li>
	<a href="@Url.RouteUrl("view", new { id = Model.Id, slug = $"Nr. {Model.Number} {Model.Title}".ToSlug() })">
		<div>
			<img src="@ImageService.GetImageWebPath(Model.Filename, ImageType.PreferThumbnail)" alt="" />
		</div>
		<span>Nr. @Model.Number - @Model.Title</span>
	</a>
</li>