{
	"Settings": {
		"ConnectionString": "Server=localhost;Database=ltbdb;User=ltbdb;Password=ltbdb",
		"ItemsPerPage": 18,
		"RecentItems": 18,
		"Storage": "./wwwroot/images/",
		"NoImage": "/content/no-image.png",
		"CDNPath": "/images/",
		"GraphicsMagick": "gm",
		"Username": "",
		"Password": "",
		"KeyStore": "",
		"SecurityKey": ""
	}
}