{
	"Kestrel": {
		"EndPoints": {
			"Http": {
				"Url": "http://127.0.0.1:5000"
			}
		}
	},
	"ConnectionStrings": {
		"Default": "Server=localhost;Database=ltbdb;User=ltbdb;Password=ltbdb"
	},
	"Database": {
		"Provider": "MySql"
	},
	"Settings": {
		"ItemsPerPage": 18,
		"RecentItems": 18,
		"Storage": "/foo/bar/ltbdb2-core-images/",
		"NoImage": "/content/no-image.png",
		"CDNPath": "/images/",
		"GraphicsMagick": "gm",
		"Username": "username",
		"Password": "password",
		"KeyStore": "/foo/bar/ltbdb2-core/key-ring/",
		"SecurityKey": "1234567890123456"
	}
}