[Unit]
Description=dotnet ltbdb2-core
After=network.target
After=mariadb.service

[Service]
EnvironmentFile=
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=ltbdb2
WorkingDirectory=/foo/bar/ltbdb2-core
ExecStart=/usr/local/bin/dotnet /foo/bar/ltbdb2-core/ltbdb2.dll
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
