[Unit]
Description=dotnet ltbdb2-core
After=network.target
After=mariadb.service

[Service]
#Environment=ASPNETCORE_URLS=http://127.0.0.1:5000/
EnvironmentFile=
;Restart=always
;RestartSec=10
Type=simple
SyslogIdentifier=ltbdb2
WorkingDirectory=/foo/bar/ltbdb2-core
ExecStart=/usr/local/bin/dotnet /foo/bar/ltbdb2-core/ltbdb2.dll
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
