@{
	ViewBag.Title = "";
	ViewBag.Menu = "home";
}

<div class="box">
	<h3>Willkommen</h3>
	<div>
		<p>
			Konfigurationspanel für "Lustiges Taschenbuch Datenbank".
		</p>
		<p>
			Repository: <a href="https://github.com/virtualdreams/ltbdatabase2">https://github.com/virtualdreams/ltbdatabase2</a>
		</p>
	</div>
</div>
