@model ltbdb.Models.UserViewContainer
@using ltbdb.Models;
@{
	ViewBag.Title = "Benutzer";
	ViewBag.Menu = "user";
}

<div class="box">
	<h3>Benutzer</h3>
	<div>
		<table>
			<thead>
				<th style="text-align:left; min-width: 200px;">Benutzer</th>
				<th style="text-align:left; min-width: 200px;">Rolle</th>
				<th style="text-align:left; min-width: 200px;">Aktiv</th>
			</thead>
			<tbody>
			@foreach(var user in Model.Users) {
				<tr>
					<td>@user.Username</td>
					<td>@user.Role</td>
					<td>@(user.Enabled ? "Aktiv" : "Inaktiv")</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
</div>

<div class="box">
	<h3>Benutzer hinzufügen</h3>
	<div>
		<p>
			description
		</p>
		<form action="@Url.Action("create", "account", new { area = "admin"})" method="POST" enctype="multipart/form-data" id="user-form">
			<!-- username -->
			<div class="block">
				<label for="username">Benutzername</label>
			</div>
			<div class="block">
				<input class="input" type="text" id="username" name="username" value="" placeholder="Benutzername" />
			</div>

			<!-- password -->
			<div class="block">
				<label for="password">Password</label>
			</div>
			<div class="block">
				<input class="input" type="password" id="password" name="password" value="" placeholder="Passwort" />
			</div>

			<!-- password repeat -->
			<div class="block">
				<label for="passwordrepeat">Password wiederholen</label>
			</div>
			<div class="block">
				<input class="input" type="password" id="passwordrepeat" name="passwordrepeat" value="" placeholder="Passwort wiederholen" />
			</div>
			
			<!-- password repeat -->
			<div class="block">
				<label for="role">Password wiederholen</label>
			</div>
			<div class="block">
				<select class="input" name="role" id="role">
					<option value="User">Benutzer</option>
					<option value="Administrator">Administrator</option>
				</select>
			</div>

			<div class="block">
				<input class="button-red" type="submit" value="Benutzer anlegen" />
			</div>
		</form>
	</div>
</div>