@if(!Context.User.Identity.IsAuthenticated) {
	<li class="nav-item">
		<a class="nav-link ms-1" asp-route="login">Anmelden</a>
	</li>
} else {
	<li class="nav-item">
		<a class="nav-link ms-1" asp-route="logout">Abmelden</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" asp-route="admin"><i class="fa-solid fa-fw fa-gear"></i></a>
	</li>
}