<footer class="my-5 pt-5">
	<p class="float-start">
		<small class="text-secondary">@DateTime.Now.Year Lustiges Taschenbuch Datenbank</small>
	</p>
	<p class="float-end">
		<small>
			<a class="text-secondary" style="text-decoration: none;" href="https://github.com/virtualdreams/ltbdb2-core" target="_blank"><i class="fa-brands fa-fw fa-github-alt"></i></a>
		</small>
	</p>
</footer>