<footer class="my-5 pt-5 text-muted text-center">
	<p class="mb-1 text-secondary">
		<small>&copy; 2014-@DateTime.Now.Year <a class="link-secondary text-decoration-none" href="http://stichelbiene.de">stichelbiene.de</a>.</small>
	</p>
</footer>