@{
	Layout = "~/Views/Shared/_LayoutError.cshtml";
	ViewBag.Title = "Fehler";
}

<div class="row">
	<div class="col-md-12">
		<div class="error-page">
			<h1>HTTP 500</h1>
			<div>
				Es ist ein unerwarteter Fehler aufgetreten.
			</div>
		</div>
	</div>
</div>