@model ltbdb.Models.TagViewContainer
@using ltbdb.Models;

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Tags | ";
	ViewBag.Description = "Tags";
}

<h2>Tags</h2>
<div class="tags">
@foreach (var tag in Model.Tags)
{
	<div class="tag button-gray">
		<a asp-route="tag" asp-route-id="@tag" title="">@tag</a>
	</div>
}
</div>