@model ltbdb.Models.BookViewTagContainer
@using ltbdb.Models
@using ltbdb.Core.Helpers

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = $"Inhalte getaggt mit \"{Model.Tag}\" | ";
	ViewBag.Description = $"Inhalte getaggt mit \"{Model.Tag}\"";
}

<div style="position: relative;">
	<div class="panel-menu">
			Anzahl Bücher mit diesem Tag: @Model.PageOffset.Items
		</div>
	<h2>Inhalte getaggt mit &quot;@Model.Tag&quot;</h2>
	<ul class="book">
		@foreach (var book in Model.Books) {
			@await Html.PartialAsync("_PartialBook", book)
		}
	</ul>
	<div class="pager">
		@if(Model.PageOffset.HasPrevious) {
			<a href="@Url.RouteUrl("tag", new { id = Model.Tag, ofs = Model.PageOffset.Offset - Model.PageOffset.PageSize })"><i class="material-icons">keyboard_arrow_left</i> zurück</a>
		}
		@if(Model.PageOffset.HasNext) {
			<a href="@Url.RouteUrl("tag", new { id = Model.Tag, ofs = Model.PageOffset.Offset + Model.PageOffset.PageSize })">weiter <i class="material-icons">keyboard_arrow_right</i></a>
		}
	</div>
</div>