@model ltbdb.Models.BookViewCategoryContainer
@using ltbdb.Models
@using ltbdb.Core.Helpers

@{
	ViewBag.Title = String.Format("{0}", Model.Category);
	ViewBag.Description = String.Format("{0}", Model.Category);
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="position: relative;">
	<div class="panel-menu">
		Anzahl Bücher in dieser Kategorie: @Model.PageOffset.Items
	</div>
	<h2>Kategorie &quot;@Model.Category&quot;</h2>
	<ul class="book">
		@foreach (var book in Model.Books) {
			@await Component.InvokeAsync("Book", new { model = book })
		}
	</ul>
	<div class="pager">
		@if(Model.PageOffset.HasPrevious) {
			<a href="@Url.RouteUrl("category", new { id = Model.Category, ofs = Model.PageOffset.Offset - Model.PageOffset.PageSize })"><i class="material-icons">keyboard_arrow_left</i> zurück</a>
		}
		@if(Model.PageOffset.HasNext) {
			<a href="@Url.RouteUrl("category", new { id = Model.Category, ofs = Model.PageOffset.Offset + Model.PageOffset.PageSize })">weiter <i class="material-icons">keyboard_arrow_right</i></a>
		}
	</div>
</div>
