@model ltbdb.Models.BookViewCategoryContainer

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = $"{Model.Category} | ";
	ViewBag.Description = $"{Model.Category}";
}

<div style="position: relative;">
	<div class="panel-menu">
		Anzahl Bücher in dieser Kategorie: @Model.PageOffset.Items
	</div>
	<h2>Kategorie &quot;@Model.Category&quot;</h2>
	<ul class="book">
		@foreach (var book in Model.Books) {
			@await Html.PartialAsync("_PartialBook", book)
		}
	</ul>
	<div class="pager">
		@if(Model.PageOffset.HasPrevious) {
			<a href="@Url.RouteUrl("category", new { id = Model.Category, ofs = Model.PageOffset.Offset - Model.PageOffset.PageSize })"><i class="material-icons">keyboard_arrow_left</i> zurück</a>
		}
		@if(Model.PageOffset.HasNext) {
			<a href="@Url.RouteUrl("category", new { id = Model.Category, ofs = Model.PageOffset.Offset + Model.PageOffset.PageSize })">weiter <i class="material-icons">keyboard_arrow_right</i></a>
		}
	</div>
</div>
