@model LtbDb.Models.BookViewAllContainer

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Alle Kategorien | ";
	ViewBag.Description = "Alle Kategorien";
}

<div style="position: relative;">
	<div class="panel-menu">
		Anzahl Bücher in allen Kategorien: @Model.PageOffset.Items
	</div>
	<h2>Alle Inhalte</h2>
	<ul class="book">
		@foreach (var book in Model.Books) {
			@await Html.PartialAsync("_PartialBook", book)
		}
	</ul>
	<div class="pager">
		@if(Model.PageOffset.HasPrevious) {
			<a asp-route="categories" asp-route-ofs="@Model.PageOffset.Previous"><i class="material-icons">keyboard_arrow_left</i> zurück</a>
		}
		@if(Model.PageOffset.HasNext) {
			<a asp-route="categories" asp-route-ofs="@Model.PageOffset.Next">weiter <i class="material-icons">keyboard_arrow_right</i></a>
		}
	</div>
</div>
