@model LtbDb.Models.CategoryViewContainer

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Reihen";
	ViewBag.Description = "Reihen";
	ViewBag.Menu = "categories";
}

<div class="row mt-4">
	<div class="col">
		<h1>Reihen</h1>
	</div>
</div>

<div class="row">
	<div class="col-3">
		<ul class="list-group"></ul>
		@foreach (var category in Model.Categories)
		{
			<li class="list-group-item"><a class="link-secondary" asp-route="category" asp-route-id="@category" asp-route-ofs="">@category</a></li>
		}
		</ul>
	</div>
</div>