@model ltbdb.Models.BookViewSearchContainer

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = $"Suche nach \"{Model.Query}\" | ";
	ViewBag.Search = !String.IsNullOrEmpty(Model.Query) ? Model.Query : "";
}

<div style="position: relative;">
	<div class="panel-menu">
		Die Suche ergab @Model.PageOffset.Items Treffer.
	</div>
	<h2>Suche nach &quot;@Model.Query&quot;</h2>
	<ul class="book">
		@foreach (var book in Model.Books) {
			@await Html.PartialAsync("_PartialBook", book)
		}
	</ul>
	<div class="pager">
		@if(Model.PageOffset.HasPrevious) {
			<a href="@Url.RouteUrl("search", new { q = Model.Query, ofs = Model.PageOffset.Offset - Model.PageOffset.PageSize })"><i class="material-icons">keyboard_arrow_left</i> zurück</a>
		}
		@if(Model.PageOffset.HasNext) {
			<a href="@Url.RouteUrl("search", new { q = Model.Query, ofs = Model.PageOffset.Offset + Model.PageOffset.PageSize })">weiter <i class="material-icons">keyboard_arrow_right</i></a>
		}
	</div>
</div>