@model ltbdb.Models.CategoryViewContainer
@using ltbdb.Models;
@{
	ViewBag.Title = "Kategorien";
	ViewBag.Menu = "category";
}

<div class="box">
	<h3>Kategorien</h3>
	<div>
		<ul class="list">
		@foreach(var category in Model.Categories) {
			<li>&bullet; @category</li>	
		}
		</ul>
	</div>
</div>

<div class="box">
	<h3>Kategorie umbennen/verschieben</h3>
	<div>
		<p>
			Alle Inhalte einer Kategorie in eine andere Kategorie verschieben oder umbenennen. Diese Aktion kann nicht rückgängig gemacht werden.
		</p>
		
		<form action="@Url.Action("move", "category", new { area = "admin" })" method="post" enctype="multipart/form-data" id="category-move-form">

			<!-- category from -->
			<div class="block">
				<label for="from">Von</label>
			</div>
			<div class="block">
				<input class="input c" type="text" id="from" name="from" value="" placeholder="Titel der Kategorie" />
			</div>

			<!-- category to -->
			<div class="block">
				<label for="to">Nach</label>
			</div>
			<div class="block">
				<input class="input c" type="text" id="to" name="to" value="" placeholder="Titel der Kategorie" />
			</div>

			<div class="block">
				<input class="button-red" type="submit" value="Verschieben" />
			</div>

		</form>
	</div>
</div>