@model LtbDb.Models.BookViewContainer

@{
	Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "";
}

<h2>Zuletzt hinzugefügt...</h2>
<ul class="book">
	@foreach (var book in Model.Books) {
		@await Html.PartialAsync("_PartialBook", book)
	}
</ul>
