@{
	ViewBag.Title = "HTTP 404";
	Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<div class="error">
	<h2>HTTP 404</h2>

	<div class="description">
		Die angeforderte Ressource wurde nicht gefunden.
	</div>
</div>