@{
	ViewBag.Title = "Fehler";
	Layout = "~/Views/Shared/_LayoutError.cshtml";
}

<div class="error">
	<h2>Das hat leider nicht geklappt.</h2>

	<div class="description">
		Es ist ein unerwarteter Fehler aufgetreten.
	</div>
</div>
