body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  background-color: #f9f9f9;
  color: #6b7b95;
}
input {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #6b7b95;
}
a:visited,
a:focus,
a:active {
  text-decoration: none;
  color: #6b7b95;
}
.wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
}
.wrapper-content {
  width: 1200px;
  min-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.header {
  margin: 0;
  padding: 0;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #dddddd;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header h1 {
  color: #6b7b95;
  font-size: 18pt;
}
.header .left {
  float: left;
  height: 100px;
  background: url(/static/content/logo.png) no-repeat top left;
}
.header .right {
  float: right;
  height: 100px;
  position: relative;
}
.header .logo {
  width: 300px;
  margin-top: 20px;
  margin-left: 100px;
  padding: 0;
}
.header .links {
  font-size: 10pt;
}
.header .links > a {
  margin-left: 10px;
}
.header .searchbox {
  position: absolute;
  bottom: -10px;
  right: 0px;
}
.header .searchbox input {
  border: 1px solid #cccccc;
  background-color: #fafafa;
  padding: 7px;
  vertical-align: middle;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset;
  color: #333333;
  width: 285px;
  background-image: url(/static/content/glass_light.png);
  background-position: 4px center;
  background-repeat: no-repeat;
  text-indent: 22px;
}
.footer {
  clear: both;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #dddddd;
  color: #999999;
}
.footer .copy {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 9pt;
  color: #6b7b95;
}
.footer .copy a {
  color: #6b7b95;
}
.content {
  margin: 0;
  padding: 0;
}
.content h2 {
  color: #6b7b95;
}
.pager {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.pager > a {
  color: #6b7b95;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-image: linear-gradient(#fcfcfc, #eeeeee);
  border: 1px solid #dddddd;
  display: inline-block;
  padding: 6px 10px;
}
.pager > a:hover {
  background-color: #dddddd;
  background-image: linear-gradient(#eeeeee, #dddddd);
}
.book {
  padding: 0;
  margin: 0;
  list-style: none none none;
  overflow: hidden;
}
.book li {
  list-style-type: none;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 25px;
  width: 180px;
  position: relative;
}
.book span {
  font-size: 10pt;
  text-align: center;
  display: block;
  min-height: 40px;
}
.book img {
  margin: 0 auto;
  display: block;
  max-height: 120px;
  max-width: 120px;
}
.book div {
  min-height: 120px;
}
.panel-menu {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #6b7b95;
  font-size: 8pt;
}
.details {
  padding-bottom: 10px;
}
.details:after {
  content: '';
  display: block;
  clear: both;
}
.details img {
  max-height: 200px;
  max-width: 200px;
}
.stories {
  padding-top: 10px;
  list-style: none outside none;
  padding-left: 10px;
  overflow-x: hidden;
  color: #6b7b95;
}
.stories > li {
  margin-bottom: 5px;
}
.tags {
  margin-left: 10px;
  padding-bottom: 10px;
}
.tags:after {
  content: '';
  display: block;
  clear: both;
}
.tags .tag {
  margin-right: 10px;
  margin-bottom: 5px;
  position: relative;
  float: left;
}
.tags .tag:hover .upper {
  display: block;
}
.tags .tag:hover .lower {
  display: block;
}
.tags .tag .upper {
  display: none;
  position: absolute;
  top: -8px;
  right: -8px;
  width: 16px;
  height: 16px;
  text-align: center;
  z-index: 100;
  color: #6b7b95;
}
.tags .tag .upper:hover {
  color: #990000;
}
.tags .tag .lower {
  display: none;
  position: absolute;
  bottom: -8px;
  right: -8px;
  width: 16px;
  height: 16px;
  text-align: center;
  z-index: 100;
  color: #6b7b95;
}
.tags .tag .lower:hover {
  color: #990000;
}
.tags #tag-add {
  float: left;
  cursor: pointer;
  padding-top: 3px;
  font-size: 10pt;
  line-height: 24px;
  color: #6b7b95;
}
.block {
  margin-bottom: 10px;
}
.block > label {
  font-weight: bold;
  color: #6b7b95;
}
.block:last-child {
  margin-bottom: 0;
}
.block.flow {
  width: 500px;
}
.block.flow:after {
  content: '';
  display: block;
  clear: both;
}
.block .input {
  border: 1px solid #cccccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fafafa;
  padding: 7px;
  vertical-align: middle;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset;
  color: #333333;
  width: 500px;
}
.block .input:focus {
  border: 1px solid #a8dd6d;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(96, 176, 68, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(96, 176, 68, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(96, 176, 68, 0.5);
}
.block .input-small {
  width: 250px;
}
.block select.input {
  width: 516px;
}
.story {
  margin-bottom: 5px;
}
.story:last-child {
  margin-bottom: 0;
}
.pointer {
  cursor: pointer;
}
.button-green {
  background-color: #60B044;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-image: linear-gradient(#a8dd6d, #60b044);
  border: 1px solid #5ca941;
  display: inline-block;
  padding: 6px 10px;
  font-weight: bold;
  color: #ffffff;
  font-size: 13px;
  cursor: pointer;
}
.button-green:hover {
  background-image: linear-gradient(#79d858, #569e3d);
}
.button-green:visited,
.button-green:focus,
.button-green:active {
  color: #ffffff;
}
.button-red {
  background-color: #eee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-image: linear-gradient(#fcfcfc, #eeeeee);
  border: 1px solid #d5d5d5;
  display: inline-block;
  padding: 6px 10px;
  font-weight: bold;
  color: #999;
  font-size: 13px;
  cursor: pointer;
}
.button-red:hover {
  background-color: #b33630;
  background-image: linear-gradient(#dc5f59, #b33630);
  border-color: #cd504a;
  color: #fff;
}
.button-red:visited,
.button-red:focus,
.button-red:active {
  color: #fff;
}
.button-gray {
  background-color: #eeeeee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-image: linear-gradient(#fcfcfc, #eeeeee);
  border: 1px solid #dddddd;
  display: inline-block;
  padding: 6px 10px;
  font-weight: bold;
  color: #6b7b95;
  font-size: 10pt;
  cursor: pointer;
}
.button-gray:hover {
  background-color: #dddddd;
  background-image: linear-gradient(#eeeeee, #dddddd);
}
.button-gray:visited,
.button-gray:focus,
.button-gray:active {
  color: #6b7b95;
}
span.field-validation-error {
  color: #e43d3d;
  margin-left: 10px;
}
.ui-widget {
  font-size: 11pt;
}
.ui-tooltip {
  background: #000000;
  border: 0 none;
  color: #ffffff;
  opacity: 0.8;
  padding: 10px;
  font-size: 8pt;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 700;
}
