@{
	Layout = "~/Areas/Admin/Views/Shared/_LayoutMenu.cshtml";
	ViewBag.Title = "";
	ViewBag.AdminMenu = "home";
}

<div class="row">
	<div class="col mb-4">
		<h3>Willkommen</h3>
		<p>
			Konfigurationspanel für "Lustiges Taschenbuch Datenbank".
		</p>
		<p>
			Repository: <a href="https://github.com/virtualdreams/ltbdb2-core">https://github.com/virtualdreams/ltbdb2-core</a>
		</p>
	</div>
</div>

<div class="row">
	<div class="col mb-4">
		<h3>Statistik</h3>
		<p>
			Die Datenbank enthält <span id="books">-</span> Bücher in <span id="categories">-</span> Kategorien mit insgesamt <span id="stories">-</span> Geschichten. Die Inhalte wurden mit <span id="tags">-</span> Tags gekennzeichnet.
		</p>
	</div>
</div>

<div class="row">
	<div class="col mb-4">
		<h3>Export</h3>
		<p>
			Datenbank als JSON exportieren.
		</p>
		<p>
			<a class="btn btn-outline-success" asp-route="adminExport">Export</a>
		</p>
	</div>
</div>

@* <div class="box">
	<h3>Willkommen</h3>
	<div>
		<p>
			Konfigurationspanel für "Lustiges Taschenbuch Datenbank".
		</p>
		<p>
			Repository: <a href="https://github.com/virtualdreams/ltbdb2-core">https://github.com/virtualdreams/ltbdb2-core</a>
		</p>
	</div>
</div>

<div class="box">
	<h3>Statistik</h3>
	<div>
		Die Datenbank enthält <span id="books">-</span> Bücher in <span id="categories">-</span> Kategorien mit insgesamt <span id="stories">-</span> Geschichten. Die Inhalte wurden mit <span id="tags">-</span> Tags gekennzeichnet.
	</div>
</div>

<div class="box">
	<h3>Export</h3>
	<div>
		<a class="button-green" asp-route="adminExport">Export</a>
	</div>
</div> *@

@section script {
<script type="text/javascript">
	$(function () {
		function getValue(url) {
			$.ajax({
				type: 'GET',
				dataType: 'json',
				url: url,
				statusCode: {
					401: function () {
						alert("Not authorized.");
					}
				},
				success: function (data) {
					$('#books').text(data.Books);
					$('#categories').text(data.Categories);
					$('#stories').text(data.Stories);
					$('#tags').text(data.Tags);
				}
			});
		}

		getValue('@Url.RouteUrl("adminStats")');
	});
</script>
}
