[Unit]
Description=dotnet ltbdb-core
After=network.target

[Service]
Environment=ASPNETCORE_URLS=http://*:5000/
EnvironmentFile=
;Restart=always
;RestartSec=10
Type=simple
SyslogIdentifier=ltbdb2
WorkingDirectory=/srv/www/ltbdb-core
ExecStart=/usr/local/bin/dotnet /srv/www/ltbdb-core/ltbdb2.dll
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target